<nav id="profiles">
  <ul>
    <li><a href="https://github.com/markshevchenko"><span class="icon-github"></span> GitHub</a></li>
    <li><a href="http://stackoverflow.com/users/1051621/mark-shevchenko"><span class="icon-stackoverflow"></span> Stack Overflow</a></li>
    <li><a href="http://ru.stackoverflow.com/users/182162/mark-shevchenko"><span class="icon-stackoverflow"></span> Stack Overflow/рус</a></li>
  </ul>
</nav>

<footer>
  &copy; Писал и много раз переписывал Марк Шевченко, 1992&ndash;2017.
</footer>
