    <header>
      <a id="home" href="{{"/" | relative_url}}"><img src="markshevchenko.jpg" alt="На главную" /></a> Меня зовут Марк Шевченко, я программист и тимлид.
      Наставляю программистов, помогаю им отращивать профессионализм, пишу статьи, веду занятия, организую
      <a href="https://www.meetup.com/progmsk/">встречи клуба программистов</a>.
    </header>

    <nav id="menu">
      <ul>
        <li><a href="{{"/articles" | relative_url}}"><span class="icon-articles"></span> Статьи</a></li>
        <li><a href="{{"/posts" | relative_url}}"><span class="icon-blog"></span> Блог</a></li>
      </ul>
    </nav>

    <nav id="profiles">
      <ul>
        <li><a href="https://github.com/markshevchenko"><span class="icon-github"></span> GitHub</a></li>
        <li><a href="http://stackoverflow.com/users/1051621/mark-shevchenko"><span class="icon-stackoverflow"></span> Stack Overflow</a></li>
        <li><a href="http://ru.stackoverflow.com/users/182162/mark-shevchenko"><span class="icon-stackoverflow"></span> Stack Overflow/рус</a></li>
      </ul>
    </nav>
