@charset "utf-8";

$base-font-family: Corbel, Trebuchet MS, Helvetica, Trebuchet, sans-serif;
$base-font-size:   18pt;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.2;

$monospace-font-family: Consolas, American Typewriter, Courier New, monospace;

$spacing-unit:     8px;
$aside-width:      280px;
$text-color:       black;
$background-color: white;
$brand-color:      crimson;
$brand-color-dark: firebrick;

$grey-color:       grey;
$grey-color-light: whitesmoke;
$grey-color-dark:  darkslategrey;
