@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
       url('fonts/icomoon.ttf') format('truetype'),
       url('fonts/icomoon.woff') format('woff'),
       url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  
  color: black;
  background-color: white;

  font-family: Corbel, Trebuchet MS, Trebuchet, sans-serif;
  font-size: 18pt;
}

header {
  padding: 4px 0;
}

article {
  padding: 4px 8px;
}

footer {
  padding: 4px 8px;
  border: 1px dotted white;

  color: white;
  background-color: darkslategray;
  
  text-align: center;
}

footer > a {
  color: white;
}

#home img {
  display: block;
  height: 48px;
}

#menu {
  display: table;
  table-layout: fixed;
  
  width: 100%;
}

#menu > ul {
  display: table-row;
}

#menu > ul > li {
  display: table-cell;

  width: 100%;
  height: 2em;
  border: 1px dotted white;

  vertical-align: middle;

  background-color: darkslategray;
}

#menu > ul > li:hover {
  background-color: firebrick;
}

#profiles > ul {
  display: table;
  table-layout: fixed;

  width: 100%;
  margin: 0;
  padding: 0;
}

#profiles > ul > li {
  display: table-row;
}

#profiles > ul > li > a {
  display: table-cell;
  
  width: 100%;
  height: 2em;
  border: 1px dotted white;
  
  vertical-align: middle;

  background-color: darkslategray;
}

nav a,
nav a:visited {
  font-weight: bold;
  text-decoration: none;

  color: white;
}

.icon-articles,
.icon-blog,
.icon-github,
.icon-stackoverflow {
  font-family: 'icomoon';
  font-size: 80%;

  margin: 0 4px;
}

.icon-articles:before {
  content: "\e9bd";
}

.icon-blog:before {
  content: "\e9bf";
}

.icon-github:before {
  content: "\eab0";
}

.icon-stackoverflow:before {
  content: "\ead0";
}

h1 {
  font-size: 177%;
  font-weight: bold;
}

h2 {
  font-size: 161%;
  font-weight: normal;
}

h3 {
  font-size: 146%;
  font-weight: normal;
}

h4 {
  font-size: 133%;
  font-weight: normal;
}

h5 {
  font-size: 121%;
  font-weight: normal;
}

h6 {
  font-size: 110%;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
  margin: 0 0 0.25em 0;
  padding: 0;
  
  color: darkslategray;
}

article > dl > dt {
  font-weight: bold;
}

article > p,
article > dl > dd {
  text-align: justify;

  margin: 0 0 1em 0;
}

a {
  color: crimson;
}

a:visited {
  color: firebrick;
}

.highlighter-rouge,
pre.highlite {
  font-family: Consolas, American Typewriter, Courier New, monospace;

  background-color: whitesmoke;
}

pre.highlight {
  padding: 4px;
  border: 1pt dotted darkslategray;

  overflow-x: scroll;
  overflow-y: hidden;
}

code.highlighter-rouge {
  padding: 0 4px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;

  width: 100%;
  margin: 0;
}

.upbeat {
  position: relative;
  top: -0.25em;
}

.lyrics {
  margin-left: 2em;
  font-style: italic;
  white-space: pre;
}

span.cp { /* macro */
  font-weight: bold;

  color: firebrick;
}

span.cm { /* comment */
  color: darkslategray;
}

span.kt,
span.o,
span.p { /* keyword type, operator, punctuation */
  font-weight: bold;

  color: crimson;
}

span.k,
span.nf { /* keyword, known function */
  font-weight: bold;
}

span.mi,
span.s,
span.se { /* constant, string */
  color: crimson;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 10pt;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size: 16pt;
  }
}

@media screen and (min-device-width: 1366px) {
  body {
    display: grid;
    grid-template-columns: 1fr max-content 280px 1fr;
    grid-template-rows: auto 1em auto 1em auto auto auto auto;

    display: -ms-grid;
    -ms-grid-columns: 1fr max-content 280px 1fr;
    -ms-grid-rows: auto 1em auto 1em auto auto auto auto;
  }

  header {
    grid-column: 3;
    grid-row: 1;

    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }

  #home img {
    width: 280px;
  }

  #menu {
    grid-column: 3;
    grid-row: 3;

    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }

  #menu > ul {
    display: table;
    table-layout: fixed;

    width: 100%;
    margin: 0;
    padding: 0;
  }

  #menu > ul > li {
    display: table-row;
  }

  #menu > ul > li > a {
    display: table-cell;
    
    width: 100%;
    height: 2em;
    border: 1px dotted white;

    vertical-align: middle;

    background-color: darkslategray;
  }

  #menu > ul > li > a:hover {
    background-color: firebrick;
  }

  #profiles {
    grid-column: 3;
    grid-row: 5;

    -ms-grid-column: 3;
    -ms-grid-row: 5;
  }

  article {
    grid-column: 2;
    grid-row: 1 / span 7;

    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;

    min-width: 844px;
    max-width: 1000px;
  }

  footer {
    grid-column: 2 / span 2;
    grid-row: 8;

    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 8;
  }

  .lyrics {
    margin-left: 8em;
  }
}

@media print {
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  header,
  #menu,
  #profiles,
  footer {
    display: none;
  }

  .lyrics {
    margin-left: 8em;
  }
}
