---
layout: default
---

<h1>{{ page.title }}{% if page.subtitle %}<br /><small>{{ page.subtitle }}</small>{% endif %}</h1>
{% if page.description %}<p>{{ page.description }}</p>{% endif %}

{{ content }}

{% if page.previous or page.up or page.next %}
<div id="relations">
  <ul>
    <li>{% if page.previous %}<a href="{{ page.previous }}">Назад</a>{% else %}Назад{% endif %}</li>
    <li>{% if page.up %}<a href="{{ page.up }}">Содержание</a>{% else %}Содержание{% endif %}</li>
    <li>{% if page.next %}<a href="{{ page.next }}">Вперёд</a>{% else %}Вперёд{% endif %}</li>
  </ul>
</div>
{% endif %}

{% include disqus.html %}