---
layout: default
---

<h1>{{ page.title }}{% if page.subtitle %}<br /><small>{{ page.subtitle }}</small>{% endif %}</h1>
{% if page.description %}<p>{{ page.description }}</p>{% endif %}

{{content}}

{% if page.previous or page.up or page.next %}
<div id="relations">
  <ul>
    <li>{% if page.previous %}[Назад]({{ page.previous }}){% else %}Назад{% endif %}</li>
    <li>{% if page.up %}[Содержание]({{ page.up }}){% else %}Содержание{% endif %}</li>
    <li>{% if page.next %}[Вперёд]({{ page.next }}){% else %}Вперёд{% endif %}</li>
  </ul>
</div>
{% endif %}