---
layout: default
---

<h1>{{ page.title }}{% if page.subtitle %}<br /><small>{{ page.subtitle }}</small>{% endif %}</h1>
{% if page.description %}<p>{{ page.description }}</p>{% endif %}

{{content}}

{% if page.previous or page.up or page.next %}
<nav id="relations">
  <ul>
    <li>{% if page.previous %}<a href="{{ page.previous | relative_url }}">Назад</a>{% endif %}</li>
    <li>{% if page.up %}<a href="{{ page.up | relative_url }}">Содержание</a>{% endif %}</li>
    <li>{% if page.next %}<a href="{{ page.next | relative_url }}">Вперёд</a>{% endif %}</li>
  </ul>
</nav>
{% endif %}